.navigation {
  grid-template-columns: 1fr 28px 28px;
}

#subtitle {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

#settings-pane {
  display: none;
  z-index: 2;
  position: absolute;
  top: 34px;
  right: 0;
  width: auto;
  height: auto;
  border: none;
}

#settings-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: max-content;
}

.setting-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto max-content;
  align-items: center;
}

.setting-name {
  font-size: 14px;
  margin: 0;
}

.statistics-grid,
.column-grid,
.row-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
}

#grade-chart-card {
  height: fit-content;
}

#total-average-card,
#average-fail-card {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#average-fail {
  text-align: center;
  width: 100%;
  font-size: 24px;
  height: 32px;
  margin-bottom: 5px;
}

#total-average-content {
  display: flex;
  justify-content: center;
  font-size: 24px;
  height: 32px;
  margin-bottom: 5px;
}

.statistics-label {
  height: 28px;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 28px;
  border-radius: 0.5px;
  background-color: #383838;
  margin: 0 12px;
}

.switch {
  position: relative;
  display: block;
  width: 54px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
  border-radius: 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

input:checked + .slider {
  background-color: #3e95cd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#re-sit-cb-container {
  display: none;
}

#grade-chart-container {
  position: relative;
  height: 250px;
  max-width: 460px;
  margin: 0 auto;
}

#average-chart-container,
#fail-chart-container {
  position: relative;
  height: 210px;
}

#range-container {
  max-width: 460px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 426px) {
  .row-grid {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  #grade-chart-container {
    height: 300px;
  }
}

@media only screen and (min-width: 560px) {
  #range-container {
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  #grade-chart-container {
    height: 348px;
  }

  #average-chart-container,
  #fail-chart-container {
    height: 240px;
  }

  .statistics-grid {
    grid-template-columns: minmax(350px, calc(45% - 15px)) minmax(
        0px,
        calc(55% - 15px)
      );
  }

  .column-grid {
    grid-template-rows: max-content;
  }

  .row-grid {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .statistics-grid,
  .column-grid,
  .row-grid {
    grid-gap: 30px;
  }
}
