@import "tailwindcss";

@theme {
  --font-sans: var(--font-raleway);

  --color-neutral-925: rgb(16, 16, 16);
  --color-neutral-850: rgb(30, 30, 30);

  --breakpoint-xs: 375px;
  --breakpoint-2xl: 1376px;

  --transition-property-height: height;
  --transition-property-max-h: max-height;
}

@utility card {
  @apply bg-neutral-925 rounded-sm p-4 md:p-6;
}

@utility button-base {
  @apply inline-flex h-12 min-w-12 shrink-0 cursor-pointer items-center justify-center rounded-sm px-2 whitespace-nowrap transition-colors disabled:cursor-not-allowed disabled:opacity-40;
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-radius: 4px;
  }

  @media (hover: hover) {
    ::-webkit-scrollbar-thumb:hover {
      background-color: #272727;
    }
  }
}

@layer base {
  h1 {
    @apply text-xl text-neutral-300;
  }
  h2 {
    @apply text-lg text-neutral-300;
  }
  h3 {
    @apply text-neutral-300;
  }
}
